<%- include("header") -%>

<div class="box" id="heading">
    <h1>
        <%= listTitle%>
    </h1>
</div>

<div class="box">
    <!-- display array of todo list items using for loop and EJS -->
    <!-- form responsible for deleting items -->
        <% newListItems.forEach((item) => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <!-- using check box instead of bullet points -->
                    <!-- store the item.id as value attribute of the checkbox-typed <input> -->
                    <input type="checkbox" name="checkbox" value="<%= item.id %>" onChange="this.form.submit()">
                    <p> <%= item.name %> </p>
                </div>
            </form>
        <% }) %>
    
    <!-- form responsible for adding new items -->
    <form class="item" action="/" method="post">
        <!-- placeholder for input indicator -->
        <!-- autocomplete turned off (no auto suggestions) -->
        <input type="text" id="todo" name="newItem" placeholder="New Item" autocomplete="off">
        <!-- the name and value attribute helps us to determine which list to add item to -->
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>

</div>

<%- include("footer") -%>